body{
   background:url("./images/valorant.png");
}

/*Tela de Login*/

.general{
   max-width: 470px;
   background: #fff;
   height: 100vh; /*vh = Viewport Height, ou seja Altura da Janela*/
}

.generalLogin{
   text-align: center;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: -100px;
}

.generalForms{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.textHeader,h2{
   font-size: 28px;
}

.inputDiv{
   width: 300px;
   justify-content: center;
}

.inputCod{
   background: rgb(255, 246, 246);
   border: 1px solid rgb(230, 114, 124);
   border-radius: 0px 10px 0px 10px;
   font-weight: 200;
   font-size: 15px;
   padding: 8px 10px 8px 10px;
   margin-bottom: 20px;
}

.inputPass{
   background: rgb(255, 246, 246);
   border: 1px solid rgb(230, 114, 124);
   border-radius: 10px 0px 10px 0px;
   font-weight: 200;
   font-size: 15px;
   padding: 8px 10px 8px 10px;
   margin-bottom: 20px;
}

.buttonEnter{
   width: 300px;
   border-radius: 0px 10px 0px 10px;
   color: #fff;
   font-size: 18px;
   font-weight: 700;
   background: rgb(255, 70, 85);
}

/*Tela Inicial*/